<sticky-nav></sticky-nav>
<h1 tabindex="0">Designers</h1>
<div class="checklist-area" id="dd" tabindex="0">
  <ul>
    <li>
      <input type="checkbox" name="design-1" id="design-1" tabindex="0" />
      <label for="design-1">Make sure there is enough contrast between text and its background color
      </label>
      <p tabindex="0">According to WCAG 2.0 AA - 1.4.3: font sizes at least 18pt (24px) regular or 14pt (19px) bold should have 3:1 color contrast ratios
        with background colors, font sizes smaller than 18pt (24px) regular or 14pt (19px) bold should have 4.5:1 color contrast ratios
        with background colors, when one of the colors is red (or nearly red) and the other color is black (or nearly black)
        the color contrast ratios should be 7:1 at least.</p>
    </li>
    <li>
      <input type="checkbox" name="design-2" id="design-2" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-2">Don't indicate important information using color alone</label>
      <p>
        <b>Situation A: If the color of particular words, backgrounds or other content is used to indicate information:</b>
      </p>
      <ul>
        <li class="bullet">Ensure that information conveyed by color differences is also available in text
        </li>
        <li class="bullet">Ensure that additional visual cues are available when text color differences are used to convey information, use
          a contrast ratio of 3:1 with surrounding text and provide additional visual cues on focus for links or controls
          where color alone is used to identify them</li>
        <li class="bullet">Include a text cue for colored form control labels</li>
      </ul>

      <p>
        <b>Situation B: If color is used within an image to convey information:</b>
      </p>
      <ul>
        <li class="bullet">Use color and pattern
        </li>
        <li class="bullet">Ensure that information conveyed by color differences is also available in text
        </li>
      </ul>
    </li>
    <li>
      <input type="checkbox" name="design-3" id="design-3" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-3">Pair values of colors together (not only hues) to increase contrast</label>
      <p>
        <a class="application_link--bold color--secondary" href="https://dcp.ucla.edu/2011/04/tips-and-tools-for-creating-accessible-color-schemes/">Tips and Tools for Creating Accessible Color Schemes</a>
      </p>
    </li>
    <li>
      <input type="checkbox" name="design-4" id="design-4" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-4">Ensure all content and design fits into a logical heading structure
      </label>
    </li>
    <li>
      <input type="checkbox" name="design-5" id="design-5" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-5">The reading order should be the same as the visual order</label>
    </li>
    <li>
      <input type="checkbox" name="design-6" id="design-6" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-6">Text can be resized without assistive technologies up to 200% without loss of content or functionality
      </label>
    </li>
    <li>
      <input type="checkbox" name="design-7" id="design-7" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-7">Limit the use of font variations such as bold, italics, and all capital letters</label>
    </li>
    <li>
      <input type="checkbox" name="design-8" id="design-8" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-8">If the technologies being used can achieve the visual presentation, text is used to convey information rather than
        images of text</label>
    </li>
    <li>
      <input type="checkbox" name="design-9" id="design-9" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-9">Don't rely on sensory characteristics as the sole indicator for understanding and operating content</label>

    </li>
    <li>
      <input type="checkbox" name="design-10" id="design-10" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-10">Design focus states to help users navigate and understand where they are</label>

    </li>
    <li>
      <input type="checkbox" name="design-11" id="design-11" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-11">Differentiate links in the body of the page with underlines or something other than color alone</label>
      <p>WCAG 2.0 has 2 additional requirements for body text links that are not underlined by default:</p>
      <ul>
        <li class="bullet">The link text must have a 3:1 contrast ratio from the surrounding non-link text.
        </li>
        <li class="bullet">The link must present a "non-color designator" (typically the introduction of the underline) on both mouse hover
          and keyboard focus.
        </li>
      </ul>
    </li>
    <li>
      <input type="checkbox" name="design-12" id="design-12" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-12">Ensure link text makes sense on its own: avoid "Click Here", "More", "Continue" or other ambiguous link text </label>

    </li>
    <li>
      <input type="checkbox" name="design-13" id="design-13" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-13">Write good alt text for your images if applicable</label>

    </li>
    <li>
      <input type="checkbox" name="design-14" id="design-14" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-14">If an experience cannot be made accessible, create another route for users to get that information</label>

    </li>
    <li>
      <input type="checkbox" name="design-15" id="design-15" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-15">If audio plays longer than 3 seconds, either only play the audio on user request or allow it to be stopped easily using
        a screen reader</label>

    </li>
    <li>
      <input type="checkbox" name="design-16" id="design-16" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-16">For each time limit that is set by the content, the user can turn off, adjust, or extend the limit</label>

    </li>
    <li>
      <input type="checkbox" name="design-17" id="design-17" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-17">For moving, blinking, scrolling, or auto-updating information, the user can pause, stop, hide, or adjust the information</label>

    </li>
    <li>
      <input type="checkbox" name="design-18" id="design-18" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-18">Content does not contain anything that flashes more than three times in any one second period, or the flash is below
        the general flash and red flash thresholds</label>

    </li>
    <li>
      <input type="checkbox" name="design-19" id="design-19" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-19">Use labels, names, and text alternatives consistently for content that has the same functionality</label>

    </li>
    <li>
      <input type="checkbox" name="design-20" id="design-20" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-20">Present repeated components in the same relative order each time they appear</label>

    </li>
    <li>
      <input type="checkbox" name="design-21" id="design-21" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-21">If an input error is automatically detected, the item that is in error is identified and the error is described to
        the user in text</label>

    </li>
    <li>
      <input type="checkbox" name="design-22" id="design-22" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-22">Labels or instructions are provided when content requires user input</label>

    </li>
    <li>
      <input type="checkbox" name="design-23" id="design-23" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-23">If an input error is automatically detected and suggestions for correction are known, then the suggestions are provided
        to the user, unless it would jeopardize the security or purpose of the content</label>

    </li>
    <li>
      <input type="checkbox" name="design-24" id="design-24" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-24">For content that causes legal commitments or financial transactions for the user to occur, that modify or delete user-controllable
        data in data storage systems, or that submit user test responses, the user can reverse, correct, or confirm the action</label>

    </li>
    <li>
      <input type="checkbox" name="design-25" id="design-25" tabindex="0" ng-model="item.selected" ng-checked="item.selected" />
      <label for="design-25">Be as consistent and clear as possible in layout and copy</label>

    </li>
  </ul>
  <!-- <div>Items {{ selectedItemsCount() }} Checked!</div> -->
</div>
<div>
  <h2>References</h2>
  <a class="application_link--bold color--secondary" href="https://www.w3.org/TR/WCAG20/">Web Content Accessibility Guidelines (WCAG) 2.0</a>
  <br>
  <a class="application_link--bold color--secondary" href="https://www.section508.gov/">GSA Section508.org</a>
  <br>
  <a class="application_link--bold color--secondary" href="http://accessibility.voxmedia.com/">Voxmedia Accessibility Guidelines</a>
  <br>
  <a class="application_link--bold color--secondary" href="http://www-03.ibm.com/able/guidelines/ci162/accessibility_checklist.html">IBM Accessibility Checklist</a>
  <br>
  <a class="application_link--bold color--secondary" href="https://webaim.org/techniques/hypertext/link_text">WebAIM - Links and Hypertext</a>
  <br>
  <a class="application_link--bold color--secondary" href="https://webaim.org/resources/designers/">WebAIM - Web Accessibility for Designers</a>
</div>
<!-- <img *ngIf="state0" src="../../assets/flower0.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds">
<img *ngIf="state1" src="../../assets/flower1.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds">
<img *ngIf="state2" src="../../assets/flower2.png" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds"> -->