<h1 class="higgs-page__header">Accessibility Resources</h1>
<hr>
<h2 class="higgs-page__header">Standards and Guidelines</h2>
<p> The links and resources on this page aim to guide Kaplan's design and engineering teams on accessibility. They are updaed
    regularly with new techniques. They are public to every departmen of Kaplan so that all people in Kaplan businesses who care about accessibility can see what
    Kaplan is working towards. We hope everyone finds them useful for accessiblity in E-Learning. </p>
<ul class="bullets">
    <li>
        <a href="https://www.w3.org/TR/WCAG20/">World Wide Web Consortium Web Accessibility Initiative</a>
    </li>
    <li>
        <a href="https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-section-508-standards/section-508-standards">Section 508 Standards</a>
    </li>
    <li>
        <a href="http://webaim.org">WebAIM</a>
    </li>
    <li>
        <a href="http://idea.ed.gov/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Institutional Materials Accessibility Standard (NIMAS)</a>
    </li>
    <li>
        <a href="http://ncam.wgbh.org/">National Center for Accessible Media</a>
    </li>
    <li>
        <a href="https://www.w3.org/WAI/">Web Accessibility Initiative (WAI)</a>
    </li>
    <li>
        <a href="http://ataporg.org/ICTWebinars/Default">Association of Assistive Technology Act Programs Webcasts</a>
    </li>
    <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility">Mozilla Developer Network Accessibility</a>
    </li>
    <li>
        <a href="https://www.google.com/accessibility/">Google Accessibility</a>
    </li>
    <li>
        <a href="http://www.adobe.com/accessibility.html">Adobe Accessibility</a>
    </li>
    <li>
        <a href="http://webaim.org/techniques/aria/">WebAIM Accessibility of Rich Internet Applications</a>
    </li>
    <li>
        <a href="http://www.w3.org/TR/wai-aria-practices-1.1/">W3C ARIA Authoring Practices</a>
    </li>
    <li>
        <a href="https://www.w3.org/TR/html-aria">ARIA in HTML</a>
    </li>
    <li>
        <a href="https://www.w3.org/WAI/ER/tools/">Web Accessibility Evaluation Tools List</a>
    </li>
    <li>
        <a href="https://sites.google.com/a/kaplan.com/accessibility/">Kaplan Accessibility Google Site</a>
    </li>
    <li>
        <a href="https://sites.google.com/a/kaplan.com/retail/accessibility">Kaplan Retail Accessibility Google Site</a>
    </li>
    <li>
        <a href="https://24ways.org/2015/the-accessibility-mindset/">The Accessibility Mindset</a>
    </li>
    <li>
        <a href="https://www.wuhcag.com/">Web accessibility for developers</a>
    </li>
</ul>
<hr>
<h2 class="higgs-page__header">Accessibility Testing Tools for Desktop and Mobile Websites</h2>
<ul class="bullets">
    <li><a href="https://wave.webaim.org/">WAVE Browswer Extension</a></li>
    <li><a href="https://www.deque.com/products/axe/">aXe Browswer Extension</a></li>
    <li><a href="http://pauljadam.com/extension.html">a11yTools Extension for Safari macOS</a></li>
    <li><a href="http://khan.github.io/tota11y/">tota11y tookit</a></li>
    <li><a href="http://squizlabs.github.io/HTML_CodeSniffer/">HTML_CodeSniffer Bookmarklet</a></li>
    </ul>
<hr>
<h2 class="higgs-page__header">Free Trainings</h2>
<ul class="bullets">
    <li>
        <a href="https://www.accessibilityonline.org/cioc-508/">Section 508 Best Practices Webinar Series</a>
    </li>
    <li>
        <a href="https://section508.gov/courses/gsa-basics/">Section 508: What is It and Why is It Important to You?</a>
    </li>
    <li>
        <a href="https://section508.gov/courses/procuring/">Procuring Section 508 Conformant ICT Products and Services Basics</a>
    </li>
    <li>
        <a href="https://de.ryerson.ca/wa/advanced/">Advanced Web Accessibility Strategies and Techniques</a>
    </li>
    <li>
        <a href="https://de.ryerson.ca/wa/business/">Digital Accessibility as a Business Practice</a>
    </li>
    <li>
        <a href="https://www.edx.org/course/information-communication-technology-ict-gtx-ict100x">Information and Communication Technology (ICT) Accessibility</a>
    </li>
    <li>
        <a href="https://www.udacity.com/course/web-accessibility--ud891">Web Accessibility by Google - Developing with Empathy</a>
    </li>
    <li>
        <a href="http://www.deque.com/web-accessibility-101/">Free On-Demand Webinar: Web Accessibility 101</a>
    </li>
    <li>
        <a href="https://egghead.io/courses/start-building-accessible-web-applications-today">Start Building Accessibility Web Applications Today</a>
    </li>
    <li>
        <a href="https://de.ryerson.ca/wa/">Professional Web Accessibility Auditing Made Easy</a>
    </li>
    <li>
        <a href="https://egghead.io/lessons/html-5-accessible-modal-dialogs">How to Create Accessible Modal Dialogs</a>
    </li>
    <li>
        <a href="https://egghead.io/lessons/html-5-what-is-the-accessibility-tree">What is the Accessibility Tree?</a>
    </li>
    <li>
        <a href="https://egghead.io/lessons/tools-building-forms-with-accessibility-in-mind">Building Forms with Accessibility in Mind</a>
    </li>
</ul>
<hr>
<h2 class="higgs-page__header">Specific Accessibility Topics</h2>
<ul class="bullets">
    <li>
        <a href="https://stuffandnonsense.co.uk/archives/accessible_alternatives.html">Accessible Alternatives</a>
    </li>
    <li>
        <a href="http://www.washington.edu/accessibility/videos/">Creating Accessible Videos</a>
    </li>
</ul>
<hr>
<h2 class="higgs-page__header">Examples and Tips</h2>
<ul class="bullets">
    <li>
        <a href="http://heydonworks.com/practical_aria_examples/">ARIA Examples</a>
    </li>
    <li>
        <a href="https://dcp.ucla.edu/2011/04/tips-and-tools-for-creating-accessible-color-schemes/">Tips and Tools for Creating Accessible Color Schemes</a>
    </li>
</ul>
<hr>
<h2 class="higgs-page__header">Assistive Technology Resources</h2>
<ul class="bullets">
    <li>
        <a href="http://atbootcamp.wikispaces.com/file/view/4%20QIAT%20QIs%20Implementation.pdf/398016012/4%20QIAT%20QIs%20Implementation.pdf">Quality indicators</a>
    </li>
    <li>
        <a href="http://r4udl.wikispaces.com/Learning+Interventions">Learning and Classroom Interventions and Tools</a>
    </li>
    <li>
        <a href="https://www.isaac-online.org/english/what-is-aac/">International Society for Augmentative and Alternative Communication - What is AAC</a>
    </li>
    <li>
        <a href="https://padlet.com/carey/BehaviorSCLE">Behavrior and Student Centered Learning Environments</a>
    </li>
    <li>
        <a href="http://www.assistiveware.com/">AssistiveWare</a>
    </li>
    <li>
        <a href="http://natri.uky.edu/resources/reports/cheklst.html">Assistve technology policy checklist</a>
    </li>
    <li>
        <a href="https://www.texthelp.com/en-us/products/">TextHelp</a>
    </li>
    <li>
        <a href="https://www.captivoice.com/capti-site/">Voice Capti</a>
    </li>
    <li>
        <a href="http://www.asha.org/NJC/">ASHA NJC</a>
    </li>
    <li>
        <a href="https://docs.google.com/document/d/1QZ0lvpTX_XlF5I_lKQB1ecTGPBiS2ptznZva7kJ5xtc/edit">2017 ATIA App Smackdown</a>
    </li>
    <li>
        <a href="https://www.instagrok.com/">Instagrok</a>
    </li>
    <li>
        <a href="https://itunes.apple.com/us/app/choiceworks/id486210964?mt=8">Choiceworks</a>
    </li>
    <li>
        <a href="http://typedefender.com/">Typedefender</a>
    </li>
    <li>
        <a href="http://www.ablelinktech.com/index.php?id=33">WayFinder 3 </a>
    </li>
    <li>
        <a href="https://itunes.apple.com/us/app/shapego-beautiful-word-clouds/id1165777323?mt=8">Shapego</a>
    </li>
    <li>
        <a href="http://learninginhand.com/stickaround/">Stick Around</a>
    </li>
    <li>
        <a href="https://readtheory.org/">ReadTheory</a>
    </li>
    <li>
        <a href="https://www.aurasma.com/">Aurasma</a>
    </li>
    <li>
        <a href="https://itunes.apple.com/us/app/color-band/id642764991?mt=8">Colorband</a>
    </li>
    <li>
        <a href="http://sam-app.org.uk/">SAM App for Anxiety (Anxiety Management on your Mobile)</a>
    </li>
    <li>
        <a href="https://www.classkick.com">Classkick App</a>
    </li>
    <li>
        <a href="http://www.attainmentcompany.com/assistive-technology">Attainment Company Assistive Technology</a>
    </li>
</ul>
<h2 class="higgs-page__header">Accessibility Trends</h2>
<ul class="bullets">
    <li>
        <a href="http://a11yweekly.com/">A11yWeekly Subscription</a>
    </li>
    <li>
        <a href="https://www.meetup.com/topics/accessibility/">Accessibility Meetups</a>
    </li>
    <li>
        <a href="https://www.interactiveaccessibility.com/iap-podcasts">IAP Pordcasts | Interactive Accessibility </a>
    </li>
    <li>
        <a href="http://www.webaxe.org/">Web Axe | Blog and Podcast on Web Accessibility</a>
    </li>
</ul>
