<sticky-nav></sticky-nav>
<h1 tabindex="0">POs</h1>

<div class="checklist-area" id="dd">
  <ul>
    <li>
      <input type="checkbox" name="qa-1" id="qa-1" tabindex="0" />
      <label for="qa-1">Run through each page with the WAVE Chrome Extension</label>
      <p tabindex="0"></p>
    </li>
    <li>
      <input type="checkbox" name="qa-2" id="qa-2" tabindex="0" />
      <label for="qa-2">Users should be able to navigate through content using their keyboard</label>
      <p></p>
    </li>
    <li>
      <input type="checkbox" name="qa-3" id="qa-3" tabindex="0" />
      <label for="qa-3">Users should be able to navigate content using a screen reader</label>
      <p></p>
    </li>
    <li>
      <input type="checkbox" name="qa-4" id="qa-4" tabindex="0" />
      <label for="qa-4">The general architecture and hierarchy of the content should make sense</label>
      <p>
      </p>
    </li>
    <li>
      <input type="checkbox" name="qa-5" id="qa-5" tabindex="0" />
      <label for="qa-5">Charts and images should all have alt-text so that users with screen readers or users on a slow connection will still
        be able to understand the images</label>
      <p></p>
    </li>
    <li>
      <input type="checkbox" name="qa-6" id="qa-6" tabindex="0" />
      <label for="qa-6">Decorative images should not be visible to screen readers</label>
      <p></p>
    </li>
  </ul>
</div>
<div>
  <h2 class="heading2">References</h2>
  <a class="application_link--bold color--secondary" href="https://www.w3.org/TR/WCAG20/">Web Content Accessibility Guidelines (WCAG) 2.0</a>
  <br>
  <a class="application_link--bold color--secondary" href="https://www.section508.gov/">GSA Section508.org</a>
  <br>
  <a class="application_link--bold color--secondary" href="http://accessibility.voxmedia.com/">Voxmedia Accessibility Guidelines</a>
  <br>
  <a class="application_link--bold color--secondary" href="http://www-03.ibm.com/able/guidelines/ci162/accessibility_checklist.html">IBM Accessibility Checklist</a>
</div>
<!-- <img *ngIf="state0" src="../../assets/flower0.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds">
<img *ngIf="state1" src="../../assets/flower1.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds">
<img *ngIf="state2" src="../../assets/flower2.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds"> -->