<sticky-nav></sticky-nav>
  <h1 tabindex="0">Digital Media</h1>

  <div class="checklist-area" id="dd">
    <ul>
      <li>
        <input type="checkbox" name="editors-1" id="editors-1" tabindex="0" />
        <label for="editors-1">An alternative is provided to equivalent information for prerecorded audio-only or video-only media</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="editors-2" id="editors-2" tabindex="0" />
        <label for="editors-2">Captions are provided for all prerecorded audio content and live audio content in synchronized media</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="editors-3" id="editors-3" tabindex="0" />
        <label for="editors-3">An alternative for time-based media or audio description of the prerecorded video content is provided for synchronized
          media</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="editors-4" id="editors-4" tabindex="0" />
        <label for="editors-4">Audio description is provided for all prerecorded video content in synchronized media</label>
        <p></p>
      </li>
    </ul>
  </div>
  <div>
    <h2 class="heading2">References</h2>
    <a class="application_link--bold color--secondary" href="https://www.w3.org/TR/WCAG20/">Web Content Accessibility Guidelines (WCAG) 2.0</a>
    <br>
    <a class="application_link--bold color--secondary" href="https://www.section508.gov/">GSA Section508.org</a>
    <br>
    <a class="application_link--bold color--secondary" href="http://accessibility.voxmedia.com/">Voxmedia Accessibility Guidelines</a>
    <br>
    <a class="application_link--bold color--secondary" href="http://www-03.ibm.com/able/guidelines/ci162/accessibility_checklist.html">IBM Accessibility Checklist</a>
  </div>
  <!-- <img *ngIf="state0" src="../../assets/flower0.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds">
  <img *ngIf="state1" src="../../assets/flower1.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds">
  <img *ngIf="state2" src="../../assets/flower2.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds"> -->
  