<nav class="sticky-navigation">
  <div class="sticky-navigation__nav">
    <div class="sticky-navigation__nav--link" [routerLinkActive]="['is-active']">
      <a id="icon-designers" [routerLink]="['/checklist/design']">
        <span class="text">Designers
          <div class="triangle"></div>
        </span>
        <span class="icon fa fa-paint-brush" aria-label="paintbrush icon"></span>
      </a>
    </div>

    <div class="sticky-navigation__nav--link" [routerLinkActive]="['is-active']">
      <a id="icon-engineers" [routerLink]="['/checklist/engineers']">
        <span class="text">Engineers
          <div class="triangle"></div>
        </span>

        <span class="icon fa fa-wrench" aria-label="wrench icon"></span>
      </a>
    </div>

    <div class="sticky-navigation__nav--link" [routerLinkActive]="['is-active']">
      <a id="icon-qa" [routerLink]="['/checklist/qas']">
        <span class="text">QAs
          <div class="triangle"></div>
        </span>
        <span class="icon fa fa-search" aria-label="magnifying glass icon"></span>
      </a>
    </div>
    <div class="sticky-navigation__nav--link" [routerLinkActive]="['is-active']">
      <a id="icon-editors" [routerLink]="['/checklist/editors']">
        <span class="text">Digital Media
          <div class="triangle"></div>
        </span>
        <span class="icon fa fa-video-camera" aria-label="video camera icon"></span>
      </a>
    </div>

    <div class="sticky-navigation__nav--link" [routerLinkActive]="['is-active']">
      <a id="icon-publishing" [routerLink]="['/checklist/pub']">
        <span class="text">Publishing
          <div class="triangle"></div>
        </span>
        <span class="icon fa fa-book" aria-label="book icon"></span>
      </a>
    </div>

    <div class="sticky-navigation__nav--link" [routerLinkActive]="['is-active']">
      <a id="icon-productowners" [routerLink]="['/checklist/pos']">
        <span class="text">Product Owners
          <div class="triangle"></div>
        </span>
        <span class="icon fa fa-pie-chart" aria-label="pie chart icon"></span>
      </a>
    </div>

  </div>
</nav>