<div class="mission-statement">
    <div class="mission-statement__text">

        <div class="mission-statement__text--headings">
            <h1 tabindex="0">Mission Statement</h1>
                <p tabindex="0">As the foundation platform of Kaplan Test Prep (KTP), Atom should gain attentions from all brilliant
                    UI/UX experts, engineers and QAs on accessibility across different departments. So that the concept
                    can work in parallel with the practices of accessibility in our daily work. Our goal for accessibility
                    design and development is that: all departments at KTP are going to think about accessibility at
                    the very beginning of their work and incoporate accessibility into their brainstorming, prototyping,
                    and wire framing before any development takes place. The contents are regularly being updated and
                    are public to all people who care about accessibility. We hope everyone finds them useful for accessibility
                    in E-Learning.</p>
        </div>
        <img src="../../assets/mission.svg" width="300px" tabindex="0" alt="spaceman image">

    </div>
</div>