<header class="billboard">
  <div class="billboard__splash-text">
    <img src="../../assets/checklist.svg" width="300px" tabindex="0" alt="checklist image">

    <div class="billboard__splash-text--headings">
      <h1 tabindex="0">{{billboardMessage.title}}</h1>
        <blockquote tabindex="0">"{{billboardMessage.quote}}"</blockquote>
        <p class="quote-source" tabindex="0">-Kate Seelman, Director of the US Department of Education's National Institute on Disability and Rehabilitation Research</p>
        <br>
        <p class="web-info" tabindex="0">This website contains resources and techniques that ensure products comply with Website Content Accessibility Guidelines (WCAG) 2.0 AA 
          and US Government Section 508 Standards. They are accessible to all employees across Kaplan businesses.</p>
    </div>
  </div>
</header>