<sticky-nav></sticky-nav>
  <h1 tabindex="0">Engineers</h1>

  <div class="checklist-area" id="dd">
    <ul>
      <li>
        <input type="checkbox" name="engineers-1" id="engineers-1" tabindex="0" />
        <label for="engineers-1">Use the correct HTML element for your content</label>
        <p tabindex="0"></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-2" id="engineers-2" tabindex="0" />
        <label for="engineers-2">Web pages, non-web documents, and software have titles that describe topic or purpose</label>
      </li>
      <li>
        <input type="checkbox" name="engineers-3" id="engineers-3" tabindex="0" />
        <label for="engineers-3">All functionality of the content is operable through a keyboard interface without requiring specific timings for
          individual keystrokes
        </label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-4" id="engineers-4" tabindex="0" />
        <label for="engineers-4">If keyboard focus can be moved to a component using a keyboard interface, then focus can be moved away from that
          component using only a keyboard interface, and, if it requires more than unmodified arrow or tab keys or other
          standard exit methods, the user is advised of the method for moving focus away</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-5" id="engineers-5" tabindex="0" />
        <label for="engineers-5">Ensure that information being presented has a meaningful order and the meaningful order is available to assistive
          technologies</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-6" id="engineers-6" tabindex="0" />
        <label for="engineers-6">Understand and use HTML landmarks</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-7" id="engineers-7" tabindex="0" />
        <label for="engineers-7">Write good alt text for your images</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-8" id="engineers-8" tabindex="0" />
        <label for="engineers-8">engineers focus states to help users navigate and understand where they are</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-9" id="engineers-9" tabindex="0" />
        <label for="engineers-9">Help users understand inputs, and help them avoid and correct mistakes</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-10" id="engineers-10" tabindex="0" />
        <label for="engineers-10">Use ARIA attributes when applicable</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-11" id="engineers-11" tabindex="0" />
        <label for="engineers-11">Give users a way to skip top level navigation to access main content</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-12" id="engineers-12" tabindex="0" />
        <label for="engineers-12">Make links descriptive</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-13" id="engineers-13" tabindex="0" />
        <label for="engineers-13">Avoid images and iconography in pseudo-elements</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-14" id="engineers-14" tabindex="0" />
        <label for="engineers-14">Make SVGs accessible to assistive technology</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-15" id="engineers-15" tabindex="0" />
        <label for="engineers-15">Hide decorative elements from screen readers</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-16" id="engineers-16" tabindex="0" />
        <label for="engineers-16">Create alternate routes for users to access information</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-17" id="engineers-17" tabindex="0" />
        <label for="engineers-17">Any keyboard operable user interface has a mode of operation where keyboard focus indicator is visible</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-18" id="engineers-18" tabindex="0" />
        <label for="engineers-18">Links should be visually identifiable and have clear :focus and :active states</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-19" id="engineers-19" tabindex="0" />
        <label for="engineers-19">When any component receives focus, it does not initiate a change of context</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-20" id="engineers-20" tabindex="0" />
        <label for="engineers-20">Changing the setting of any user interface component does not automatically cause a change of context unless the
          user has been advised of the behavior before using the component, such as radio buttons, checkboxes, text field,
          etc</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-21" id="engineers-21" tabindex="0" />
        <label for="engineers-21">Document should have a language attribute</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-22" id="engineers-22" tabindex="0" />
        <label for="engineers-22">Do not use presentation layers (e.g., CSS, SCSS) to provide information unless the information is also presented
          through content or through semantic markup</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-23" id="engineers-23" tabindex="0" />
        <label for="engineers-23">Associate every form element with a label</label>
        <p></p>
      </li>
      <li>
        <input type="checkbox" name="engineers-24" id="engineers-24" tabindex="0" />
        <label for="engineers-24">Provide descriptive headings and labels to describe topic or purpose</label>
        <p></p>
      </li>
    </ul>
  </div>
  <div>
    <h2 class="heading2">References</h2>
    <a class="application_link--bold color--secondary" href="https://www.w3.org/TR/WCAG20/">Web Content Accessibility Guidelines (WCAG) 2.0</a>
    <br>
    <a class="application_link--bold color--secondary" href="https://www.section508.gov/">GSA Section508.org</a>
    <br>
    <a class="application_link--bold color--secondary" href="http://accessibility.voxmedia.com/">Voxmedia Accessibility Guidelines</a>
    <br>
    <a class="application_link--bold color--secondary" href="http://www-03.ibm.com/able/guidelines/ci162/accessibility_checklist.html">IBM Accessibility Checklist</a>
  </div>
  <!-- <img *ngIf="state0" src="../../assets/flower0.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds">
  <img *ngIf="state1" src="../../assets/flower1.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds">
  <img *ngIf="state2" src="../../assets/flower2.svg" width="100px" tabindex="0" alt="flower with seeds" class="flower-seeds"> -->